.dashboard {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}
.editorDashboard {
    float:left;
    display: flex;
    flex-wrap: wrap;
}

/* add max height */
.public-DraftEditor-content {
    max-height: 600px;
    overflow: auto;
}